{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{#  Can comment out this code to remove background  #}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('{% static "images/wallpaperflare.com_wallpaper.jpg" %}');
            background-color: #f7f7f7;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h1>WELCOME TO THE TA SCHEDULER</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="error">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            <label>
                <input type="text" name="username" placeholder="Username">
                {% if form.username.errors %}
                    <div class="error">
                        {% for error in form.username.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </label>
            <label>
                <input type="password" name="password" placeholder="Password">
                {% if form.password.errors %}
                    <div class="error">
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </label>
            <input type="submit" value="Login">
        </form>
        <p>Don't have an account? <a href="{% url 'createAccount' %}">Sign up</a></p>
{# Will need code above soon #}
    </div>
    
    
    
</body>
</html>