/*Navigation Menu*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    min-width: 1000px;
}

nav {
    flex: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/*Main Page*/
main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - 180px);
    min-width: 1000px;
    min-height: 500px;
}

.menuContainer {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

section {
    flex: 1;
    padding: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.menuTitle {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.menuBox {
    border: 1px solid #ccc;
    padding: 10px;
    height: 100%;
    min-height: 450px;
}

.menuBoxMid {
    border: 1px solid #ccc;
    padding: 10px;
    flex-grow: 1;
    flex-shrink: 1;
}

.dateContainer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px 20px;
}

.clock, span {
    font-weight: bold;
    margin-left: 10px;
    padding: 5px 0;
    text-align: right;
}

logoutButton {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"],
input[type="submit"],
select {
    width: calc(100% - 22px);
    margin-bottom: 10px;
    padding: 5px;
}

input[type="submit"],
.assignButton {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

select {
    width: calc(100% - 22px);
    margin-bottom: 10px;
    padding: 5px;
}

.assignContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-direction: column;
}

.assignContainer label {
    margin-bottom: 5px;
}

.submitButton {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.scrollingList {
    overflow-y: auto;
    height: calc(100% - 270px); /* Adjust height */
    border: 1px solid #ccc;
    padding: 10px;
}

.assignContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.assignContainer label,
.assignContainer select {
    margin-right: 10px;
    margin-bottom: 10px;
}

.accountDeletedMsg {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.show {
    display: block;
}

.closeAccDeletedBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closeAccDeletedBtn:hover {
    color: black;
}

.accountCreatedMsg {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.show {
    display: block;
}

.closeAccCreatedBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closeAccCreatedBtn:hover {
    color: black;
}