{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Account Management</title>
    <link rel="stylesheet" href={% static "css/adminAccManagement.css" %}>
</head>
<body>
<!--Navigation Menu-->
<header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Course Management</a></li>
            <li><a href="#">Account Management</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </nav>
    <div class="dateContainer">
        <div class="clock">12:00 PM</div>
        <span>April 13, 2024</span>
    </div>
    <logoutButton>Logout</logoutButton>
</header>

<!--Admin Account Management Menu-->
<main>
    <div class="menuContainer">
        <!--account creation-->
        <section>
            <h2 class="menuTitle">Create An Account</h2>
            <div class="menuBox">
                <form method="post" action="{% url 'adminAccManagement' %}">
                    {% csrf_token %}
                    <label for="createAccountName">Enter Account Name:</label><br>
                    <input type="text" id="createAccountName" name="createAccountName"><br>
                    <label for="createAccountEmail">Enter Account Email:</label><br>
                    <input type="text" id="createAccountEmail" name="createAccountEmail"><br>
                    <label for="createAccountPassword">Enter Account Password:</label><br>
                    <input type="text" id="createAccountPassword" name="createAccountPassword"><br><br>
                    <input type="submit" name="createAccBtn" value="Create Account">
                </form>
            </div>
        </section>
        <!--deleting account-->
        <section>
            <h2 class="menuTitle">Delete An Account</h2>
            <div class="menuBoxMid">
                <form method="post" action="{% url 'adminAccManagement' %}">
                    {% csrf_token %}
                    <label for="deleteAccountName">Enter Account Name:</label><br>
                    <input type="text" id="deleteAccountName" name="deleteAccountName"><br>
                    <label for="deleteAccountEmail">Enter Account Email:</label><br>
                    <input type="text" id="deleteAccountEmail" name="deleteAccountEmail"><br>
                    <input type="submit" name="deleteAccBtn" value="Delete Account">
                </form>
            </div>
            {% if message %}
                <div class="accountDeletedMsg">
                    <span class="closeAccDeletedBtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <p>{{ message }}</p>
                </div>
            {% endif %}

            <script>
                function closeMessage() {
                    document.querySelector('.accountDeletedMsg').style.display = 'none';
                }
            </script>
        </section>
        <!--edit account-->
        <section>
            <h2 class="menuTitle">Edit An Account</h2>
            <div class="menuBox">
                <form method="post" action="{% url 'adminAccManagement' %}">
                    {% csrf_token %}
                    <label for="editAccountName">Enter Account Name:</label><br>
                    <input type="text" id="editAccountName" name="editAccountName"><br>
                    <label for="editAccountEmail">Edit Email:</label><br>
                    <input type="text" id="editAccountEmail" name="editAccountEmail"><br>
                    <label for="editAccountPassword">Edit Password:</label><br>
                    <input type="text" id="editAccountPassword" name="editAccountPassword"><br><br>
                    <label for="editAccountName">Edit Account Name:</label><br>
                    <input type="text" id="editAccountName" name="editAccountName"><br><br>
                    <label htmlFor="accountRole">Change Account Role</label>
                    <select id="accountRole" value="accountRole">
                        <option value="ta">TA</option>
                        <option value="instructor">Instructor</option>
                        <option value="admin">Admin</option>
                    </select>
                    <input type="submit" value="Save Changes">
                </form>
            </div>
        </section>
    </div>
</main>
</body>
</html>
