{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href={% static "css/home.css"%}>
</head>
<body>
<!--Navigation Menu-->
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Notifications</a></li>
                <li><a href="{% url 'courseManagement' %}">Course Management</a></li>
                <li><a href="{% url 'adminAccManagement' %}">Account Management</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>
        <div class="dateContainer">
            <div class="clock">12:00 PM</div>
            <span>April 13, 2024</span>
        </div>
        <logoutButton>Logout</logoutButton>
    </header>
    <h1>Welcome to the Homepage!</h1>
    <p>This is the protected homepage that requires login.</p>
</body>
</html>